<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seiii.collect.mapper.recommend.RecommendRuleFactorMapper">
  <resultMap id="BaseResultMap" type="com.seiii.collect.model.po.recommend.RecommendRuleFactor">
    <id column="factorName" jdbcType="VARCHAR" property="factorname" />
    <result column="ruleId" jdbcType="INTEGER" property="ruleid" />
    <result column="factorWeight" jdbcType="DOUBLE" property="factorweight" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from rule_factor
    where factorName = #{factorname,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.seiii.collect.model.po.recommend.RecommendRuleFactor">
    insert into rule_factor (factorName, ruleId, factorWeight
      )
    values (#{factorname,jdbcType=VARCHAR}, #{ruleid,jdbcType=INTEGER}, #{factorweight,jdbcType=DOUBLE}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.seiii.collect.model.po.recommend.RecommendRuleFactor">
    update rule_factor
    set ruleId = #{ruleid,jdbcType=INTEGER},
      factorWeight = #{factorweight,jdbcType=DOUBLE}
    where factorName = #{factorname,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select factorName, ruleId, factorWeight
    from rule_factor
    where factorName = #{factorname,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select factorName, ruleId, factorWeight
    from rule_factor
  </select>
  <select id="selectByRuleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select factorName, ruleId, factorWeight
    from rule_factor
    where ruleId = #{ruleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByRuleId" parameterType="java.lang.Integer">
    delete from rule_factor
    where ruleId = #{ruleId,jdbcType=INTEGER}
  </delete>
  <select id="selectByUsingRule" resultMap="BaseResultMap">
    select factorName,ruleId,factorWeight
    from rule_factor
    where ruleId in (select ruleId
                    from rule
                    where isUsing=true)
  </select>
</mapper>